<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="BackupFolder" value="%USERPROFILE%\Backup"/>
    <add key="DirectoriesToBackup" value="C:\Users\rishabh\Documents;C:\Users\rishabh\Programs"/>
  </appSettings>
</configuration>